debug
target
build
.fish

.vscode/node_modules/
.vscode/out/
vscode-extension/out/
node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
__pycache__/
dist/
*.pyc
*.exe
*.log
*.tmp

**/*.rs.bk
*.pdb
**/mutants.out*/

.idea/
.vscode/.ropeproject/
.tempmediaStorage/
.cache/
coverage/
.pytest_cache/
venv/
.venv/
.env
*.local
bazel-examples/
